.container {
    margin: 0;
    padding: 0;
    canvas {
        background: radial-gradient(#fff, #0080ffb0);
        display: block;
        width: 80%;
        height: 80%;
        border-radius: 10px;
        margin: 36px auto 0px auto;
    }
}
