.container {
    margin: 0;
    padding: 0;
    canvas {
        background: radial-gradient(#fff, #abcccc);
        display: block;
        width: 80%;
        height: 80%;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 20px;
    }
}
