.tagContainer {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column; */
}
