.container {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

.top {
  font-weight: 500;
  font-size: 16px;
  height: 60px;
  width: 100%;
  cursor: pointer;
  white-space: nowrap; /* 确保文本在一行显示 */
  overflow: hidden; /* 隐藏超出容器的文本 */
  text-overflow: ellipsis; /* 使用省略号表示超出的文本 */
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.split {
  border: 1px solid rgb(224, 226, 232);
  height: 65%;
  border-right: 0px;
  margin-right: 8px;
}

.right {
  color: rgb(102, 102, 102);
  font-weight: 200;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 13px;
  color: #8a919f;
  line-height: 13px;
  margin-right: 16px;
}
